
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    
    <link rel="stylesheet" href='~/Content/bootstrap.css'>
    <link rel="stylesheet" href='~/Content/font-awesome.css'>
    <title>splash</title>
</head>
<body>
    <i class="fa fa-spinner fa-spin"  style="font-size:100px"></i>
</body>
</html>
