USE [master]
GO
/****** Object:  Database [ARAVIND_DB]    Script Date: 8/20/2016 10:41:13 AM ******/
CREATE DATABASE [ARAVIND_DB]
 
ALTER DATABASE [ARAVIND_DB] SET COMPATIBILITY_LEVEL = 100
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ARAVIND_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ARAVIND_DB]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 8/20/2016 10:41:13 AM ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Country_Master]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country_Master](
	[COUNTRY_CODE] [nvarchar](255) NOT NULL,
	[COUNTRY_NAME] [nvarchar](255) NULL,
	[TOTAL_MALE_POPULATION] [nvarchar](255) NULL,
	[TOTAL_FEMALE_POPULATION] [nvarchar](255) NULL,
	[TOTAL_MALE_EYE_DEFECT_POPULATION] [nvarchar](255) NULL,
	[TOTAL_FEMALE_EYE_DEFECT_POPULATION] [nvarchar](255) NULL,
	[country_grp] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[COUNTRY_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[District_Master]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District_Master](
	[DISTRICT_CODE] [nvarchar](255) NOT NULL,
	[DISTRICT_NAME] [nvarchar](255) NULL,
	[STATE_CODE] [nvarchar](255) NULL,
	[TOTAL_MALE_POPULATION] [float] NULL,
	[TOTAL_FEMALE_POPULATION] [float] NULL,
	[PERCENTAGE_OF_TOTAL_MALE_EYE_DEFECT_POPULATION] [float] NULL,
	[PERCENTAGE_OF_TOTAL_FEMALE_EYE_DEFECT_POPULATION] [float] NULL,
	[GIS_CODE] [nvarchar](255) NULL,
	[district_grp] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DISTRICT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[feedback]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[feedback](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[PIN] [nchar](10) NOT NULL,
	[Doctor_Consultancy] [nchar](10) NULL,
	[Staff_Behaviour] [nchar](10) NULL,
	[Environment] [nchar](10) NULL,
	[remarks] [varchar](100) NULL,
	[Dt] [datetime] NULL,
 CONSTRAINT [PK_feedback] PRIMARY KEY CLUSTERED 
(
	[PIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FeedConfig]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FeedConfig](
	[qno] [int] NOT NULL,
	[Question] [varchar](100) NULL,
	[Dt] [datetime] NULL,
	[Location] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[qno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Feeds]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feeds](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[MRNO] [varchar](10) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Patient_feeds] [varchar](max) NULL,
	[Remarks] [varchar](120) NULL,
	[Reasons] [varchar](max) NULL,
	[Dt] [datetime] NULL,
	[Location] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Feeds_BackUp]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feeds_BackUp](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[MRNO] [varchar](10) NOT NULL,
	[Patient_feeds] [varchar](max) NULL,
	[Remarks] [varchar](120) NULL,
	[Dt] [datetime] NULL,
	[Reasons] [varchar](max) NULL,
	[Name] [varchar](50) NOT NULL,
	[Flag] [bigint] NULL,
	[Location] [varchar](15) NULL,
 CONSTRAINT [PK_Feeds_BackUp] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FeedsConfig_Backup]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FeedsConfig_Backup](
	[qno] [int] NOT NULL,
	[Question] [varchar](100) NULL,
	[Flag] [bigint] NULL,
	[Location] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[qno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Patient](
	[PIN] [int] IDENTITY(1000,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Age] [int] NOT NULL,
	[Dob] [datetime] NULL,
	[Gender] [char](1) NOT NULL,
	[Nextofkin] [varchar](30) NOT NULL,
	[Dt] [date] NULL,
	[Email] [nvarchar](30) NULL,
	[MobileNo] [varchar](30) NULL,
	[LandlineNo] [char](30) NULL,
	[Address] [varchar](50) NULL,
	[Locality] [varchar](50) NULL,
	[City] [varchar](25) NULL,
	[Pincode] [varchar](10) NULL,
	[Taluk] [varchar](10) NOT NULL,
	[District] [varchar](10) NULL,
	[State] [varchar](10) NOT NULL,
	[Country] [varchar](10) NOT NULL,
	[Visit] [varchar](5) NOT NULL,
	[MRNO] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[PIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State_Master]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State_Master](
	[STATE_CODE] [nvarchar](255) NOT NULL,
	[STATE_NAME] [nvarchar](255) NULL,
	[COUNTRY_CODE] [nvarchar](255) NULL,
	[TOTAL_MALE_POPULATION] [float] NULL,
	[TOTAL_FEMALE_POPULATION] [float] NULL,
	[PERCENTAGE_OF_TOTAL_MALE_EYE_DEFECT_POPULATION] [float] NULL,
	[PERCENTAGE_OF_TOTAL_FEMALE_EYE_DEFECT_POPULATION] [float] NULL,
	[GIS_CODE] [nvarchar](255) NULL,
	[state_grp] [nvarchar](255) NULL,
	[lang_code] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[STATE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[System_Users]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[System_Users](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Questions_Update] [char](1) NULL,
	[View_Results] [char](1) NULL,
	[New_Signup] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TALUK_MASTER]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TALUK_MASTER](
	[TALUK_CODE] [varchar](10) NOT NULL,
	[TALUK_NAME] [varchar](50) NULL,
	[DISTRICT_CODE] [varchar](10) NULL,
	[GIS_CODE] [varchar](4) NULL,
	[taluk_grp] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[TALUK_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Zones](
	[Zone_ID] [int] IDENTITY(1,1) NOT NULL,
	[Zone_Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Zone_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Country_Master] ([COUNTRY_CODE], [COUNTRY_NAME], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [TOTAL_MALE_EYE_DEFECT_POPULATION], [TOTAL_FEMALE_EYE_DEFECT_POPULATION], [country_grp]) VALUES (N'1', N'INDIA', N'', N'', N'', N'', N'01')
INSERT [dbo].[Country_Master] ([COUNTRY_CODE], [COUNTRY_NAME], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [TOTAL_MALE_EYE_DEFECT_POPULATION], [TOTAL_FEMALE_EYE_DEFECT_POPULATION], [country_grp]) VALUES (N'10', N'OMAN', N'', N'', N'', N'', N'99')
INSERT [dbo].[Country_Master] ([COUNTRY_CODE], [COUNTRY_NAME], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [TOTAL_MALE_EYE_DEFECT_POPULATION], [TOTAL_FEMALE_EYE_DEFECT_POPULATION], [country_grp]) VALUES (N'11', N'CANADA', N'', N'', N'', N'', N'99')
INSERT [dbo].[District_Master] ([DISTRICT_CODE], [DISTRICT_NAME], [STATE_CODE], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [PERCENTAGE_OF_TOTAL_MALE_EYE_DEFECT_POPULATION], [PERCENTAGE_OF_TOTAL_FEMALE_EYE_DEFECT_POPULATION], [GIS_CODE], [district_grp]) VALUES (N'1', N'MADURAI', N'28', 1526475, 1511777, NULL, 19017, N'', N'15')
INSERT [dbo].[District_Master] ([DISTRICT_CODE], [DISTRICT_NAME], [STATE_CODE], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [PERCENTAGE_OF_TOTAL_MALE_EYE_DEFECT_POPULATION], [PERCENTAGE_OF_TOTAL_FEMALE_EYE_DEFECT_POPULATION], [GIS_CODE], [district_grp]) VALUES (N'10', N'SIVAGANGAI', N'28', 668672, 670429, NULL, 8099, N'', N'24')
INSERT [dbo].[District_Master] ([DISTRICT_CODE], [DISTRICT_NAME], [STATE_CODE], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [PERCENTAGE_OF_TOTAL_MALE_EYE_DEFECT_POPULATION], [PERCENTAGE_OF_TOTAL_FEMALE_EYE_DEFECT_POPULATION], [GIS_CODE], [district_grp]) VALUES (N'1000', N'ALASSAN', N'13', 0, 0, NULL, NULL, N'', N'99')
GO
INSERT [dbo].[FeedConfig] ([qno], [Question], [Dt], [Location]) VALUES (11, N'If you were recommended cataract surgery how well did they explain the types of lenses', CAST(N'2016-06-15 10:29:24.727' AS DateTime), NULL)
INSERT [dbo].[FeedConfig] ([qno], [Question], [Dt], [Location]) VALUES (12, N'jhjh', CAST(N'2016-06-15 10:29:24.737' AS DateTime), NULL)
INSERT [dbo].[FeedConfig] ([qno], [Question], [Dt], [Location]) VALUES (13, N'jh', CAST(N'2016-06-15 10:29:24.743' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Feeds] ON 

INSERT [dbo].[Feeds] ([sno], [MRNO], [Name], [Patient_feeds], [Remarks], [Reasons], [Dt], [Location]) VALUES (188, N'434-3434', N'UNKNOWN', N'(1)a(2)c(3)b(4)a(5)b(6)a(7)b(8)a(9)b', NULL, N'(1)(2)x(3)(4)(5)(6)(7)(8)(9)', CAST(N'2016-06-23 00:00:00.000' AS DateTime), N'IOL')
INSERT [dbo].[Feeds] ([sno], [MRNO], [Name], [Patient_feeds], [Remarks], [Reasons], [Dt], [Location]) VALUES (189, N'777-7777', N'UNKNOWN', N'(1)a(2)b(3)c(4)a(5)b(6)a(7)b(8)c(9)a', N'hfjghkj', N'(1)(2)(3)x(4)(5)(6)(7)(8)x(9)', CAST(N'2016-06-24 00:00:00.000' AS DateTime), N'SOLIDJHJ')
INSERT [dbo].[Feeds] ([sno], [MRNO], [Name], [Patient_feeds], [Remarks], [Reasons], [Dt], [Location]) VALUES (190, N'432-2323', N'adsfa', N'(1)a(2)b(3)c(4)a(5)b(6)a(7)a(8)b(9)a', NULL, NULL, CAST(N'2016-08-06 00:00:00.000' AS DateTime), N'IOL')
SET IDENTITY_INSERT [dbo].[Feeds] OFF
SET IDENTITY_INSERT [dbo].[Feeds_BackUp] ON 

INSERT [dbo].[Feeds_BackUp] ([sno], [MRNO], [Patient_feeds], [Remarks], [Dt], [Reasons], [Name], [Flag], [Location]) VALUES (1, N'432-7649', N'(1)a(2)a(3)b(4)c', NULL, CAST(N'2016-06-04 00:00:00.000' AS DateTime), N'(1)(2)(3)(4)dfgsdgsdfgsdfg', N'ggyyhhhev', 1, N'GLUCO')
INSERT [dbo].[Feeds_BackUp] ([sno], [MRNO], [Patient_feeds], [Remarks], [Dt], [Reasons], [Name], [Flag], [Location]) VALUES (2, N'432-7649', N'(1)a(2)a(3)c(4)b', NULL, CAST(N'2016-06-04 00:00:00.000' AS DateTime), N'(1)(2)(3)khjkjhkj(4)', N'ggyyhhhev', 1, N'IOL')
INSERT [dbo].[Feeds_BackUp] ([sno], [MRNO], [Patient_feeds], [Remarks], [Dt], [Reasons], [Name], [Flag], [Location]) VALUES (3, N'432-7649', N'(1)a(2)a(3)b(4)c', NULL, CAST(N'2016-06-01 00:00:00.000' AS DateTime), N'(1)(2)(3)(4)kjbjkh', N'gokul', 1, N'IOL')
SET IDENTITY_INSERT [dbo].[Feeds_BackUp] OFF
INSERT [dbo].[FeedsConfig_Backup] ([qno], [Question], [Flag], [Location]) VALUES (2, N'Services', 1, NULL)
INSERT [dbo].[FeedsConfig_Backup] ([qno], [Question], [Flag], [Location]) VALUES (3, N'Management', 1, NULL)
INSERT [dbo].[FeedsConfig_Backup] ([qno], [Question], [Flag], [Location]) VALUES (4, N'Environment', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([PIN], [Name], [Age], [Dob], [Gender], [Nextofkin], [Dt], [Email], [MobileNo], [LandlineNo], [Address], [Locality], [City], [Pincode], [Taluk], [District], [State], [Country], [Visit], [MRNO]) VALUES (3228, N'GOKUL', 76, CAST(N'1998-06-12 00:00:00.000' AS DateTime), N'M', N'S/O TEST', CAST(N'2016-06-23' AS Date), NULL, NULL, NULL, N'TEST', N'TEST', N'TEST', NULL, N'10', N'10', N'28', N'1', N'No', NULL)
INSERT [dbo].[Patient] ([PIN], [Name], [Age], [Dob], [Gender], [Nextofkin], [Dt], [Email], [MobileNo], [LandlineNo], [Address], [Locality], [City], [Pincode], [Taluk], [District], [State], [Country], [Visit], [MRNO]) VALUES (3229, N'RAMKUMAR', 45, CAST(N'1971-01-01 00:00:00.000' AS DateTime), N'M', N'S/O SADFSD', CAST(N'2016-06-24' AS Date), NULL, N'9940210370', NULL, N'ASDFSADF', N'ASDFSDF', N'ASDFDSF', N'625012', N'1', N'1', N'28', N'1', N'No', NULL)
INSERT [dbo].[Patient] ([PIN], [Name], [Age], [Dob], [Gender], [Nextofkin], [Dt], [Email], [MobileNo], [LandlineNo], [Address], [Locality], [City], [Pincode], [Taluk], [District], [State], [Country], [Visit], [MRNO]) VALUES (3230, N'test', 20, CAST(N'1995-02-04 00:00:00.000' AS DateTime), N'M', N'S/O x', CAST(N'2016-08-06' AS Date), N'yes.see.h2@gmail.com', N'9343434343', N'3434343                       ', N'Test', NULL, N'tetst', N'777777', N'10', N'10', N'28', N'1', N'yes', NULL)
SET IDENTITY_INSERT [dbo].[Patient] OFF
INSERT [dbo].[State_Master] ([STATE_CODE], [STATE_NAME], [COUNTRY_CODE], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [PERCENTAGE_OF_TOTAL_MALE_EYE_DEFECT_POPULATION], [PERCENTAGE_OF_TOTAL_FEMALE_EYE_DEFECT_POPULATION], [GIS_CODE], [state_grp], [lang_code]) VALUES (N'1', N'ANDAMAN & NICOBAR', N'1', NULL, NULL, NULL, NULL, N'', N'99', N'hi')
INSERT [dbo].[State_Master] ([STATE_CODE], [STATE_NAME], [COUNTRY_CODE], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [PERCENTAGE_OF_TOTAL_MALE_EYE_DEFECT_POPULATION], [PERCENTAGE_OF_TOTAL_FEMALE_EYE_DEFECT_POPULATION], [GIS_CODE], [state_grp], [lang_code]) VALUES (N'10', N'HARYANA', N'1', NULL, NULL, NULL, NULL, N'', N'99', N'hi')
INSERT [dbo].[State_Master] ([STATE_CODE], [STATE_NAME], [COUNTRY_CODE], [TOTAL_MALE_POPULATION], [TOTAL_FEMALE_POPULATION], [PERCENTAGE_OF_TOTAL_MALE_EYE_DEFECT_POPULATION], [PERCENTAGE_OF_TOTAL_FEMALE_EYE_DEFECT_POPULATION], [GIS_CODE], [state_grp], [lang_code]) VALUES (N'100', N'CHATTISHGARH', N'1', NULL, NULL, NULL, NULL, N'', N'99', N'hi')
INSERT [dbo].[System_Users] ([Username], [Password], [Questions_Update], [View_Results], [New_Signup]) VALUES (N'aravind', N'8cb2237d0679ca88db6464eac60da96345513964', N'T', N'T', N'T')
INSERT [dbo].[System_Users] ([Username], [Password], [Questions_Update], [View_Results], [New_Signup]) VALUES (N'x', N'11f6ad8ec52a2984abaafd7c3b516503785c2072', N'F', N'F', N'F')
INSERT [dbo].[TALUK_MASTER] ([TALUK_CODE], [TALUK_NAME], [DISTRICT_CODE], [GIS_CODE], [taluk_grp]) VALUES (N'1', N'MADURAI - GENL', N'1', N'', N'01')
INSERT [dbo].[TALUK_MASTER] ([TALUK_CODE], [TALUK_NAME], [DISTRICT_CODE], [GIS_CODE], [taluk_grp]) VALUES (N'10', N'SIVAGANGAI - GENL', N'10', N'141', N'05')
INSERT [dbo].[TALUK_MASTER] ([TALUK_CODE], [TALUK_NAME], [DISTRICT_CODE], [GIS_CODE], [taluk_grp]) VALUES (N'1000', N'ALASSAN - GENL', N'1000', N'', N'99')
GO
SET IDENTITY_INSERT [dbo].[Zones] ON 

INSERT [dbo].[Zones] ([Zone_ID], [Zone_Name]) VALUES (15, N'IOL')
INSERT [dbo].[Zones] ([Zone_ID], [Zone_Name]) VALUES (24, N'GLUCOMA')
INSERT [dbo].[Zones] ([Zone_ID], [Zone_Name]) VALUES (26, N'SOLID J')
SET IDENTITY_INSERT [dbo].[Zones] OFF
ALTER TABLE [dbo].[feedback] ADD  DEFAULT ('good') FOR [Doctor_Consultancy]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT ('nothing') FOR [remarks]
GO
/****** Object:  StoredProcedure [dbo].[DeleteRecords]    Script Date: 8/20/2016 10:41:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery2.sql|0|0|C:\Users\h155724\AppData\Local\Temp\~vs2055.sql

Create PROCEDURE [dbo].[DeleteRecords]
AS
DECLARE @oneid date
DECLARE @ID int
DECLARE @ref int
DECLARE the_cursor CURSOR
FOR 
SELECT dt,pin from dbo.Patient;
OPEN the_cursor
FETCH NEXT FROM the_cursor INTO @oneid, @ID

WHILE @@FETCH_STATUS = 0
BEGIN
     if (DATEDIFF(DAYOFYEAR,@oneid,Cast(GETDATE() as DATE)))>=2
          Delete from dbo.Patient where pin=@ID and dt=@oneid;
  FETCH NEXT FROM the_cursor INTO @oneid, @ID

END
CLOSE the_cursor;
DEALLOCATE the_cursor;
SET @ref=(SELECT IDENT_CURRENT('dbo.Patient'));
if(@ref>=9000)
       DBCC CHECKIDENT('dbo.Patient', RESEED, 1000);



GO
USE [master]
GO
